name: Update dependencies

on:
  schedule:
    - cron: '0 0 * * 0'

permissions:
  contents: write
  pull-requests: write


jobs:
  pre-commit-update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install python
        uses: actions/setup-python@v5
        id: setup-python
        with:
          python-version: 3.8
      - name: Install pre-commit
        run: pip install pre-commit
      - name: Run pre-commit autoupdate
        run: pre-commit autoupdate
      - name: Create Pull Request
        id: create-pr
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.REPO_PAT }}
          branch: update/pre-commit-autoupdate-${{ github.run_id }}
          title: Auto-update pre-commit hooks
          commit-message: Auto-update pre-commit hooks
      - name: Automerge commit
        if: ${{ steps.create-pr.outputs.pull-request-number }}
        run: gh pr merge ${{ steps.create-pr.outputs.pull-request-number }} --auto --squash --delete-branch
